.navbar {
    border-radius: 0;
    background-color: rgb(250, 212, 218);
    color: white;
    height: 50px;
    padding: 10px;
    width: 100%;
}

.navbar-brand {
    font-size: 30px;
}

.navbar-nav li {
    float: right;
    margin: 15px;
}